@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    margin: 0;
    padding: 1rem;
    width: 250vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 30px;
    justify-content: center;
}
.nav{
    color: #000000;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all ease .8s;
}
.nav:hover{
    font-size: 2rem;
    transform: scale(1.6);
    filter: drop-shadow(0 0 15px #546c9c);
}
.kendrick_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: auto;
    background: url(../img/kdot.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: "Arsenal SC", sans-serif;
    font-style: italic;
}
.kendrick_1 h1{
    font-size: 5rem;
    font-weight: 400;
    position: relative;
    color: #fff;
    text-shadow: 3px 4px 5px rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    display: flex;
}
.kendrick_1 h2{
    font-size: 3rem;
    font-weight: 100;
    color: #fff;
    position: relative;
    text-shadow: 3px 4px 5px rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
}
.kendrick_2{
    text-align: center;
    margin: 50px auto;
    background: url("../img/kendrick.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100dvh;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
}
.kendrick_2 h1{
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 3rem;
    color: #a80404;
}
.kendrick_2 p{
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 50px;
}
.about_1{
    font-family: "Kanit", sans-serif;
    color: #a80404;
}
.kendrick_2 .listen{
    padding: 20px 30px;
    background-color: #333333;
    color: #f8f8f8;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
    display: inline-block;
}
.kendrick_2 .listen:hover{
    background-color: #a80404;
    transition: 0.3s ease-in-out;
}
.album{
    width: auto;
    padding: 50px 20px;
    background-color: #000000fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    font-family: "Fira Sans", sans-serif;
}
.album-title{
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}
.album-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.album_1{
    background-color: #ed0808;
    width: 25rem;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.album_1:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.album_2{
    background-color: #887048;
    width: 25rem;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.album_2:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.album_3{
    background-color: #76767a;
    width: 25rem;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.album_3:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.album-covers{
    width: 20rem;
    height: auto;
    margin-bottom: 20px;
}
.album-container h3{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.album-container p{
    font-size: 1em;
    color: #ffffff;
}
.kendrick_3{
    text-align: center;
    margin: 50px auto;
    background: url("../img/kendrick_fam_2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100dvh;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "Kanit", sans-serif;
    padding-left: .5rem;
}
.kendrick_3 h1{
    font-style: italic;
    align-items: center;
    position: relative;
    font-size: 3rem;
    color: #ffffff;
}
.kendrick_3 p{
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 50px;
    width: 100%;
    text-align: left;
    padding-left: 0.5rem;
}
.kendrick_3 .learn-more{
    padding: 20px 30px 20px 40px;
    background-color: #333333;
    color: #f8f8f8;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
    display: inline-block;
}
.kendrick_3 .learn-more:hover{
    background-color: #000000;
    transition: 0.3s ease-in-out;
}
.tracks{
    width: auto;
    padding: 50px 20px;
    background-color: #fffffffa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    font-family: "Fira Sans", sans-serif;
}
.tracks-title{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}
.tracks-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.track_1{
    background-color: #384858;
    width: auto;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.track_1:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
    background-color: #000000;
}
.track_2{
    background-color: #767676;
    width: auto;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.track_2:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
    background-color: #000000;
}
.track_3{
    background-color: #d00000;
    width: auto;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.track_3:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
    background-color: #000000;
}
.tracks-container h3{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
}
.tracks-container p{
    font-size: 1em;
    color: #ffffff;
}
.footer_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    padding-left: 20px;
    width: auto;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}
.footer_1 .logo img{
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 10px;
}
.name h1{
    margin: 10px;
    transition: .3s;
        &:hover{
        color: #ff0000;
        }
}
.footer_1 .icons{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer_1 .icons i{
    font-size: 30px;
    margin: 10px;
    transition: .3s;
    &:hover{
        color: #ff0000;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            }
}
.awards{
    background: #1f1f1f;
    padding: 4rem 0;
    font-family: "Poppins", sans-serif;
}
.awards h2{
    text-align: center;
    margin-bottom: 2rem;
    color: #ffffff;
}
.award-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.award{
    background: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    text-align: center;
    padding: 1rem;
}
.award:hover{
    transform: scale(1.05);
}

.award img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #e50914;
}

.award h3{
    margin: 1rem 0;
    font-size: 1.5rem;
}
.learn-here-btn{
    background: #ff000d;
    color: #000000;
    font-style: italic;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
.learn-here-btn:hover{
    background: #000000;
    color: #ffffff;
    transform: scale(1.1);
}